<li>
	<section class="content">
		<p><%= micropost.content %></p>
  	<% if micropost.post_pic_url%>
			<a href ="<%=post_pic_url.to_s %>" >
			<%= image_tag micropost.post_pic_url(:post_thumb).to_s,:id => "post_image", class: " img-rounded"%>
			</a>
		<% end %>		
	</section>
  <span class="timestamp">
    Posted 
    <% if current_page?(:controller => 'users', :action => 'home') %>
    by <a href=<%= user_url(micropost.user)%> ><%=show_name(micropost.user.username)%></a>,
    <% end %>
    <%= time_ago_in_words(micropost.created_at) %> ago
  </span>
</li>
