<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, html: {multipart: true}) do |f| %>
			<%= render 'shared/error_messages' %>
			
      <%= f.label :name %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label "Upload profile image, or use default image"%> 
			<%= f.file_field :pro_image, :accept => 'image/png,image/gif,image/jpeg', class: "pro_image_upload"%>
				<%= f.submit "Create my account", class: "btn btn-large btn-primary btn-sign-up" %>
				<div class="log_in">
						Have an account? <%= link_to "Log in", root_path %>
				</div>

    <% end %>
  </div>
</div>
