<div class="row">
  <div class="hero-unit span7">
    <h1>WeGroup</h1>

    <h2>
      
      <a href= <%= root_path %>>WeGroup</a>
      : Let us build our own groups!
    </h2>
  </div>
  

  <div class="pull-right span3">
  	<%= render 'shared/flash_home' %>
    <%= form_for(:session, url: sessions_path, html: {class: 'signin'}) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
			
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me, "Remember me", :class => 'label_check_box' %>

  	  <div class="actions">	
				<%= f.submit "Log in", class: "btn btn-large btn-primary login_btn" %>
				<div class="new_user">
					New user? <%= link_to "Sign up now!", signup_path %>
				</div>
			</div>
      
    <% end %>
  </div>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), root_path %>
