<div class="row">
  <div class="hero-unit span7">
    <h1>Switter</h1>

    <h2>
      
      <a href= <%= root_path %>>Switter</a>
      : A Small Twitter application.
    </h2>
  </div>
  

  <div class="pull-right span3 signin">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
	
  </div>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), root_path %>
